@import '_variables.scss';

.arrowUp {
	position: fixed;
	top: 80%;
	left: 90%;
	width: 40px;
	height: 40px;
	background: url('../images/arrowUp.png') 0% 0% no-repeat;
	background-size: contain;
	cursor: pointer;
}

@media (max-width: 992px){
	.arrowUp{
		width: 35px;
		height: 35px;
	}
}

@media (max-width: 768px){
	.arrowUp{
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 576px){
	.arrowUp{
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 320px){
	.arrowUp{
		width: 15px;
		height: 15px;
	}
}

