@import '_variables.scss';

.header {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header__info {
	width: 40%;
	height: 100%;
}

.header__info span {
	font-weight: bold;
}

.header__info img {
	width: 100%;
}

.header__info p {
	font-size: $big-font;
}

.header__slideShow {
	width: 50%;
	height: 100%;
	margin-left: $little-margin;
}

.header__slideShow img {
	width: 100%;
}

@media (max-width: 576px){
	.header__info{
		margin: auto;
	}
	.header__slideShow{
		display: none;
	}
}