@import '_variables.scss';

.subdivision__analyzes {
	padding-left: $little-margin;
}

.subdivision__analyzes div {
	display: flex;
	padding-top: $little-margin/2;
	div {
		width: 25%;
		font-size: $big-font;
	}
	div:first-child {
		width: 50%;
	}
}

.subdivision__analyzes div:hover {
	background: $weak-color;
}

.subdivision__name {
	cursor: pointer;
	font-size: $extreme-font;
	padding: $little-margin*2;
}

.subdivision__name:hover {
	background: $light-color;
}

